@import 'https://fonts.googleapis.com/css?family=Satisfy';

h2{
   font-family: 'Satisfy', cursive;
   color: #FF827B;
   font-size: 175%;
}

.main{
  color: blue;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 85px;
  background-color: black;
}

 .navbar-default {
   background-color: #FFF;
   width: 100%;
   height: 50px;

 }

 .jumbotron {
   background-image: url("../img/hero.jpg");
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 350px;

 }

 header{
    color: #FFF;
    text-align: center;
    font-size: 200%
}

 h3{
    text-align: center;
}
